*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:400px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 15px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#message{
    margin:15px 0;
    text-align:center;
    font-weight:bold;
}

.success{
    color:green;
}

.error{
    color:red;
}

ul{
    list-style:none;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eee;
    margin-bottom:10px;
    padding:10px;
    border-radius:5px;
}

.task-buttons{
    display:flex;
    gap:5px;
}

.edit-btn{
    background:orange;
}

.delete-btn{
    background:red;
}

.edit-btn:hover{
    background:darkorange;
}

.delete-btn:hover{
    background:darkred;
}